<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webDemo7</display-name>
  <!-- 用户信息放入到 session 中的键的名字 -->
  <context-param>
  	<param-name>userSessionKey</param-name>
  	<param-value>USERSESSIONKEY</param-value>
  </context-param>
  
  <!-- 若未登录, 需重定向的页面 -->
  <context-param>
  	<param-name>rediretPage</param-name>
  	<param-value>/login/login.jsp</param-value>
  </context-param>
  
  <!-- 不需要拦截(或检查)的 URL 列表 -->
  <context-param>
  	<param-name>uncheckedUrls</param-name>
  	<param-value>/login/demo6_1.jsp,/login/demo6_2.jsp,/login/index.jsp,/login/login.jsp,/login/doLogin.jsp</param-value>
  </context-param>
  
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>cn.wss.filter.login.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/login/*</url-pattern>
  </filter-mapping>
  
  <!-- 下面为文本过滤拦截需要的内容 -->
  <filter>
    <display-name>ContentFilter</display-name>
    <filter-name>ContentFilter</filter-name>
    <filter-class>cn.wss.filter.content.ContentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ContentFilter</filter-name>
    <url-pattern>/contentFilter/bbs.jsp</url-pattern>
  </filter-mapping>
</web-app>